


<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>POO - Challenge 1</title>
</head>
<body>
  # Challenge 1

  Créer une base de donnée, puis une classe Connexion avec :
  * un constructeur pour une connexion PDO à la base
  * une méthode countTable qui prend une requête SQL en paramètre
  et retourne le résultat

  Ensuite dans un fichier .php, créez un nouvel objet en instanciant
  Connexion et appelez la méthode en envoyant une requête sql avec
  COUNT ...

  > Bonus perso : utiliser le MVC
</body>
</html>
