<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>POO - Challenge 2</title>
</head>
<body>
# Challenge 2

  - Créer une base de donnée en utilisant une classe Connexion et une
  méthode statique pour se connecter (utiliser PDO).

  - Créer une classe Post avec les propriétés suivantes :
  * id_post, title_post, content_post
  et les méthodes suivantes :
  *  addPost, removePost, findAllPost

  - Créer les pages index.php qui affiche les Posts contenus dans la base
  de donnée, ajouter.php qui affiche un formulaire d’ajout d’un post

  > Bonus perso : utiliser le MVC
</body>
</html>
